<!DOCTYPE html>
<html>
  <head>
    <title>SiteCatei</title>
  </head>

  <body>
    <div id="container-full" class="container-full">
      <div class="logo-satads">
        <%= image_tag("satads_logo_escrito.png", class: "logo-satads-img animated fast slideInDown") %>
      </div>
      <div class="container-content box-shadow">
        <div class="">

          <%= yield %>
        </div>
      </div>
    </div>
    
  </body>
</html>
