<!DOCTYPE html>
<html>
  <head>
    <title>SiteCatei</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body style="font-family: sans-serif">
    <div style="width: 100%;max-height: 100%;background: linear-gradient(-10deg, rgb(228, 228, 228) 0%,rgb(228, 228, 228) 45%, rgb(58, 55, 224) 45%, rgb(104, 22, 186) 100%);padding-bottom: 200px;">
      <div style="padding: 50px;">
        <%= image_tag attachments['logo.png'].url, style: "display: block;margin: 0 auto;max-width: 70%;max-height: 200px;" %>
      </div>
      <div style="display: block;margin: 0 auto;padding: 0px;width: 70%;height: 100%;background-color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);">
        <div class="">
          <h1 style="font-size: 2rem;text-align:center;padding: 60px 0 0 40px;color: rgb(58, 55, 224);">
            Olá <%= @user.name %> <br> Utilize seu QRCode para fazer check-in em palestras e cursos da SATADS.</h1>
          <h2 style="text-align:center;font-size: 1rem;padding: 20px 0 0 20px;color: rgb(30, 30, 30);">
            Os check-ins são necessários para contabilizar suas horas formativas no final da semana acadêmica.</h2>
          <h2 style="font-size: 1rem;text-align:center;padding: 20px 0 0 20px;color: rgb(30, 30, 30);">
            Portanto, não se esqueça de fazer check-in para cada palestra ou curso!</h2>
          <div style="padding-bottom: 50px; display:block; margin: 0 auto">
            <%= image_tag attachments['qr.png'].url, :alt => 'QRCode', style: 'display: block; margin: 0 auto' %>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
