<!-- <h3 class="text-center">Por favor, escolha uma opção para prosseguir:</h3> -->
<div class="pb-100">
  <h1 class="text-center">Inscrição</h1>
  <div class="actions actions-mobile">
    <div class="action pb-50">
      <%= link_to "Semana Acadêmica", new_registration_path, class: "hvr-underline-from-left" %>
    </div>
    <div class="divider">
    </div>
    <div class="action pt-50">
      <%= link_to "Minicursos", registration_courses_path, class: "hvr-underline-from-left" %>
      <h4>Deve estar cadastrado na semana acadêmica</h4>
    </div>
  </div>
</div>
