<h1 class="text-center pb-50">Cadastro SATADS</h1>

<%= render 'form', registration: @registration %>

<%= link_to registrations_path do %>
  <i data-feather="arrow-left" class="bigger-icon"></i>
<% end %>
