<div class="form text-justify">
<h1 class="text-center pb-20"> <%= @registration.name %> </h1>
<h2 class="text-center pb-20 color-primary">Pronto! Inscrição realizada com sucesso! :)</h2>
  <h2 class="pb-50">
    Sua inscrição é única.<br>Ela vale para todas as palestras em qualquer período da semana acadêmica (tarde ou noite).
  </h2>
  <h2 class="pb-20">Esse é seu QRCode.</h2>
  <h2 class="pb-50">Utilize ele para fazer check-in nas palestras e cursos da SATADS.</h2>
  <div class="text-center pb-50">
    <%= raw RQRCode::QRCode.new("#{@registration.hash_id}").as_svg(module_size: 20) %>
  <h3>O QRCode foi enviado para o email: <span class="text-strong"> <%= @registration.email %> </span> </h3>
</div>
</div>
<%= link_to registrations_path do %>
  <i data-feather="arrow-left" class="bigger-icon"></i>
<% end %>
