/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Raleway');
html, body, * {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
.container-full {
  width: 100%;
  max-height: 100%;
  background: linear-gradient(-10deg, rgb(228, 228, 228) 0%,rgb(228, 228, 228) 45%, #230865 45%, #7244e0 100%);
  padding-bottom: 200px;
}
.container-content {
  display: block;
  margin: 0 auto;
  padding: 0px;
  width: 70%;
  height: 100%;
  background-color: white;
}
.logo-satads {
  padding: 50px;
}
.logo-satads-img {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  max-height: 200px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}
.action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

.form {
  width: 70%;
  display: block;
  margin: 0 auto;
  text-align: left;
}
.select {
  padding: 5px 20px;
  border: 1px solid #f2f2f2;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
  width: 150px;
}
.bigger-select {
  width: 100%;
  height: 50px;
}
.medium-select {
  display: block;
  background-color: white;
  width: 200px;
  height: 50px;
}
.text_area {
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: rgb(214, 214, 214);
  padding: 10px;
  width: 100%;
  height: auto;
}
.text_area:focus {
  border-color: #230865;
}
.submit {
  padding: 20px;
  width: auto;
  min-width: 200px;
  font-size: 1.5rem;
  background-color: #230865;
  border: 0;
  border-radius: 2px;
  color: #fff;
  float: right;
}
.submit:hover {
  background-color: #361783;
}
.submit:hover {
  cursor: pointer;
}
.form label {
  font-size: 1.5rem;
}
.field {
  padding: 20px;
}
.field-input {
  padding: 15px;
  padding-left: 22px;
  background-color: #f2f1f0;
}
.p-0 {
  padding: 30px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-100 {
  padding-bottom: 100px;
}
.box-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.box-shadow:hover {
  box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
}

.alert {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  color: white;
  line-height: 1.8rem;
  font-weight: bold;
}
.alert-error {
  background-color: rgb(255, 120, 120);
}
.alert-success {
  background-color: rgb(99, 245, 157);
}
.close {
  font-weight: bold;
  color: white;
  padding-left: 50px;
  width: 30px;
  height: 30px;
}
.close:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}
/* Text rules */
.text-center {
  text-align: center;
}
.text-strong {
  color: #230865;
}
h1 {
  font-size: 4rem;
  padding: 60px 0;
  color: #230865;
  font-weight: normal;
}
h2 {
  font-size: 2rem;
  padding: 20px 0 0 20px;
  color: rgb(30, 30, 30);
  font-weight: normal;
}
h3 {
  font-size: 1rem;
  padding: 20px 0;
  color: rgb(47, 47, 47);
  font-weight: normal;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.white {
  color: white;
}
.action a {
  font-size: 2rem;
  line-height: 3rem;
  color: rgb(47, 47, 47);
  text-align: center;
  text-transform: uppercase;
}
.action a:hover {
  /* color: rgb(112, 112, 112); */
  cursor: pointer;
}

/* Animations */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #230865;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0
}
svg {
  color: #230865;
}
svg:hover {
  color: #422096;
}
.bigger-icon {
  padding: 20px;
  width: 50px;
  height: 50px;
}

.name-badge {
  padding: 20px;
  background-color: #230865;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1000px) {
  .container-content {
    display: block;
    margin: 0 auto;
    padding: 0px;
    width: 90%;
    height: 100%;
    background-color: white;
  }
  h1 {
    font-size: 5rem;
    padding: 60px 0px;
    color: #230865;
    font-weight: normal;
  }
  h2 {
    font-size: 3rem;
    padding: 30px 0px;
    color: rgb(30, 30, 30);
  }
  h3 {
    font-size: 2rem;
    padding: 40px 0;
    color: rgb(47, 47, 47);
  }
  .bigger-icon {
    padding: 20px;
    width: 100px;
    height: 100px;
  }
  .form {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .post-container {
    background-color: rgb(228, 228, 228);
    height: 300px;
  }
  .submit-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
  }
  .actions-mobile {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0px;
  }
  .actions {}
  .action {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 50px 50px;
  }
  .select {
    padding: 20px 30px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    width: 50%;
    font-size: 2rem;
    display: block;
    background-color: white;
  }
  .bigger-select {
    width: 100%;
    height: 80px;
  }
  .text_area {
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-color: rgb(214, 214, 214);
    padding: 20px;
    width: 100%;
    font-size: 2rem;
    height: auto;
  }
  .text_area:focus {
    border-color: #230865;
  }
  .submit {
    display: block;
    margin: 0 auto;
    padding: 30px;
    width: auto;
    min-width: 200px;
    font-size: 2rem;
    background-color: #230865;
    border: 0;
    border-radius: 2px;
    color: #fff;

  }
  .submit:hover {
    background-color: rgb(28, 24, 213);
  }
  .submit:hover {
    cursor: pointer;
  }
  .form label {
    font-size: 4rem;
  }
  .field {
    padding: 20px;
  }
  .field-input {
    padding: 25px;
    padding-left: 28px;
    background-color: #f2f1f0;
  }
  .alert {
    width: 85%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 30px;
    color: white;
    line-height: 2.5rem;
    font-weight: bold;
    font-size: 2.5rem;
  }
  .close {
    font-weight: bold;
    color: white;
    padding-left: 50px;
    width: 80px;
    height: 80px;
  }
}
